API/Connected Services/AxConnectorServices/BerLgServicesConnector1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://vtdevaos:8101/DynamicsAx/Services/BerLgServicesConnector?xsd=xsd0" namespace="http://tempuri.org" />
      <xsd:import schemaLocation="http://vtdevaos:8101/DynamicsAx/Services/BerLgServicesConnector?xsd=xsd2" namespace="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" />
      <xsd:import schemaLocation="http://vtdevaos:8101/DynamicsAx/Services/BerLgServicesConnector?xsd=xsd4" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" />
      <xsd:import schemaLocation="http://vtdevaos:8101/DynamicsAx/Services/BerLgServicesConnector?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://vtdevaos:8101/DynamicsAx/Services/BerLgServicesConnector?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://vtdevaos:8101/DynamicsAx/Services/BerLgServicesConnector?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.AX.Framework.Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="BerLgAxServicesTestServiceRequest">
    <wsdl:part name="parameters" element="tns:BerLgAxServicesTestServiceRequest" />
  </wsdl:message>
  <wsdl:message name="BerLgAxServicesTestServiceRequest_Headers">
    <wsdl:part xmlns:q1="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q1:CallContext" />
  </wsdl:message>
  <wsdl:message name="BerLgAxServicesTestServiceResponse">
    <wsdl:part name="parameters" element="tns:BerLgAxServicesTestServiceResponse" />
  </wsdl:message>
  <wsdl:message name="BerLgAxServices_testService_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q2:AifFault" />
  </wsdl:message>
  <wsdl:message name="BerLgAxServicesExecuteRequestRequest">
    <wsdl:part name="parameters" element="tns:BerLgAxServicesExecuteRequestRequest" />
  </wsdl:message>
  <wsdl:message name="BerLgAxServicesExecuteRequestRequest_Headers">
    <wsdl:part xmlns:q3="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q3:CallContext" />
  </wsdl:message>
  <wsdl:message name="BerLgAxServicesExecuteRequestResponse">
    <wsdl:part name="parameters" element="tns:BerLgAxServicesExecuteRequestResponse" />
  </wsdl:message>
  <wsdl:message name="BerLgAxServices_executeRequest_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q4:AifFault" />
  </wsdl:message>
  <wsdl:portType name="BerLgAxServices">
    <wsdl:operation name="testService">
      <wsdl:input wsaw:Action="http://tempuri.org/BerLgAxServices/testService" name="BerLgAxServicesTestServiceRequest" message="tns:BerLgAxServicesTestServiceRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/BerLgAxServices/testServiceResponse" name="BerLgAxServicesTestServiceResponse" message="tns:BerLgAxServicesTestServiceResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/BerLgAxServices/testServiceAifFaultFault" name="AifFaultFault" message="tns:BerLgAxServices_testService_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="executeRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/BerLgAxServices/executeRequest" name="BerLgAxServicesExecuteRequestRequest" message="tns:BerLgAxServicesExecuteRequestRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/BerLgAxServices/executeRequestResponse" name="BerLgAxServicesExecuteRequestResponse" message="tns:BerLgAxServicesExecuteRequestResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/BerLgAxServices/executeRequestAifFaultFault" name="AifFaultFault" message="tns:BerLgAxServices_executeRequest_AifFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>